.App {
  text-align: center;
  height: 100vh;
}



section{
  padding: 64px 0;
}
section:nth-child(odd) {
  background-color: #F4F3F8;
}
section:nth-child(even) {
  background-color: #ffffff;
}

.input1{
  display: inline-flex;
  gap: 32px;
  padding: 32px;
  background-color: #2177C7;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
}

.input1 > input {
  padding: 0;
  color: transparent;
  text-align: center;;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
}
.input1 > input:placeholder-shown {
  background-color: rgba(255,255,255,0.2);
  border-color: #194E7D;

}
.input1 > input:not(:placeholder-shown) {
  background-color: #194E7D;
  border-color: transparent;
}
.input1 > input:focus {
  background-color: #0A3F6D;
}

